/*Start Fonts*/
/* Open Sans */
@font-face {
    font-family: "WorkSans";
    src: url("../font/WorkSans-Thin.eot");
    src: url("../font/WorkSans-Thin.eot?#iefix") format('embedded-opentype'),
         url("../font/WorkSans-Thin.woff2") format('woff2'),
         url("../font/WorkSans-Thin.woff") format('woff'),
         url("../font/WorkSans-Thin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "WorkSans";
    src: url("../font/WorkSans-Light.eot");
    src: url("../font/WorkSans-Light.eot?#iefix") format('embedded-opentype'),
         url("../font/WorkSans-Light.woff2") format('woff2'),
         url("../font/WorkSans-Light.woff") format('woff'),
         url("../font/WorkSans-Light.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "WorkSans";
    src: url("../font/WorkSans-Regular.eot");
    src: url("../font/WorkSans-Regular.eot?#iefix") format('embedded-opentype'),
         url("../font/WorkSans-Regular.woff2") format('woff2'),
         url("../font/WorkSans-Regular.woff") format('woff'),
         url("../font/WorkSans-Regular.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "WorkSans";
    src: url('../font/WorkSans-Medium.eot');
    src: url('../font/WorkSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('../font/WorkSans-Medium.woff2') format('woff2'),
         url('../font/WorkSans-Medium.woff') format('woff'),
         url('../font/WorkSans-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "WorkSans";
    src: url('../font/WorkSans-SemiBold.eot');
    src: url('../font/WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../font/WorkSans-SemiBold.woff2') format('woff2'),
         url('../font/WorkSans-SemiBold.woff') format('woff'),
         url('../font/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "WorkSans";
    src: url('../font/WorkSans-Bold.eot');
    src: url('../font/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/WorkSans-Bold.woff2') format('woff2'),
         url('../font/WorkSans-Bold.woff') format('woff'),
         url('../font/WorkSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/*End Fonts*/
*
{
	margin: 0;
	padding: 0;
}
html
{
	scroll-behavior: smooth;
}
body
{
	background: #fff;
}
/* Start Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2; 
  -webkit-box-shadow: inset 0 0 .2rem #808080; 
          box-shadow: inset 0 0 .2rem #808080;
}
/* Track Active */
::-webkit-scrollbar-track:active {
  background: #d9d9d9; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d4d4d; 
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 .3rem #4d4d4d;
          box-shadow: inset 0 0 .3rem #4d4d4d;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333; 
}
/* End Scrollbar */
.container
{
	max-width: 1280px;
}
.window-overlay
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.3);
	display: none;
	cursor: pointer;
}
/** Start Main Content **/

/*Start Header*/
.header-wrapper
{
	padding: 3rem 0 0 0;
	position: relative;
	overflow: hidden;
}
.header-wrapper .background
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: url('../img/bg0.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 100%;
}
.header-wrapper .contents
{
	position: relative;
	z-index: 2;
}
.header-wrapper .head-top .logo .logo-image
{
	max-width: 100px;
	max-height: 35px;
}
.header-wrapper .head-top .navbarmenu
{
	overflow: hidden;
}
.header-wrapper .head-top .navbarmenu ul
{
	overflow: hidden;
	margin-top: .5rem;
	float: right;
}
.header-wrapper .head-top .navbarmenu ul > .nav-item
{
	float: left;
}
.header-wrapper .head-top .navbarmenu ul > .nav-item a
{
	display: block;
	padding: 0 3rem 0 0;
	color: #fff;
	font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
	font-size: .9rem;
	font-weight: 500;
}
.header-wrapper .presentation
{
	padding: 7rem 0 0 0;
	text-align: center;
}
.header-wrapper .presentation .details .title
{
	color: #fff;
	font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
	font-size: 2.3rem;
	font-weight: 600;
	line-height: 1.4;
	padding: 0;
	margin: 0 0 1rem 0;
}
.header-wrapper .presentation .details .description
{
	color: #fff;
	font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
	font-size: .9rem;
	font-weight: 300;
	line-height: 1.4;
	opacity: .9;
	padding: 0;
	margin: 0 0 4rem 0;
}
.header-wrapper .presentation .details .links
{
	overflow: hidden;
	display: inline-block;
	margin: 0 auto 5rem auto;
}
.header-wrapper .presentation .details .links .link
{
	font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
	font-size: .8rem;
	font-weight: 500;
	text-decoration: none;
	display: inline-block;
	width: 160px;
	float: left;
	margin: 0 0 1rem 0;
	padding: .7rem 0;
	border-radius: 5px;
	border: 1px solid #fff;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.header-wrapper .presentation .details .links .download
{
	background: #fff;
	color: #233148;
	margin-right: 1.3rem;
}
.header-wrapper .presentation .details .links .download:hover
{
	background: transparent;
	color: #fff;
}
.header-wrapper .presentation .details .links .contact
{
	background: transparent;
	color: #fff;
}
.header-wrapper .presentation .details .links .contact:hover
{
	background: #fff;
	color: #233148;
}
.header-wrapper .presentation .smartphone img
{
	max-width: 100%;
	max-height: 390px;
}

@media screen and (max-width: 800px)
{

	.header-wrapper .head-top .navbarmenu
	{
		overflow: visible;
		text-align: center;
	}
	.header-wrapper .head-top .navbarmenu ul
	{
		float: none;
		display: inline-block;
	}	

}
@media screen and (max-width: 770px)
{

	.header-wrapper .head-top .logo .logo-image
	{
		display: block;
		margin: auto;
	}
	.header-wrapper .head-top .navbarmenu ul
	{
		margin: 1rem 0 0 0;
	}	

}
@media screen and (max-width: 600px)
{

	.header-wrapper .presentation .details .title
	{
		font-size: 1.5rem;
	}		

}
@media screen and (max-width: 400px)
{

	.header-wrapper .presentation .details .links
	{
		max-width: 200px;
		padding: 1rem;
	}

}
/*End Header*/
/*Start Marketing 01*/
.marketing01-wrapper
{
	position: relative;
	background: #fafafc;
	padding-bottom: 2rem;
}
.marketing01-wrapper .background
{
	position: absolute;
	top: -12.5rem;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: url('../img/bg1.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: auto;
}
.marketing01-wrapper .contents
{
	position: relative;
	z-index: 3;
}
.marketing01-wrapper .smartphone
{
	text-align: center;
}
.marketing01-wrapper .smartphone img
{
	max-width: 100%;
	max-height: 390px;
}
.marketing01-wrapper .top-level-parent
{
	padding: 15rem 0 0 0;
}
.marketing01-wrapper .features-grid-top
{
	overflow: visible;
}
.marketing01-wrapper .feature
{
	text-align: center;
	-webkit-box-shadow: 0 0 0.5rem #e1e4ea;
	        box-shadow: 0 0 0.5rem #e1e4ea;
	border-radius: 2px;
	width: 270px;
	float: left;
	margin: 0 3rem 1rem 0;
	padding: 3rem 1.5rem;
}
.marketing01-wrapper .feature:last-child
{
	margin-right: 0;
}
.marketing01-wrapper .features-grid-top .feature-top
{
	position: relative;
	top: -11rem;
}
.marketing01-wrapper .features-grid-top .feature-bottom
{
	position: relative;
	top: -5rem;
}
.marketing01-wrapper .feature .icon
{
	font-size: 3rem;
	color: #8533ff;
	text-shadow: 0 0 .2rem #751aff;
	margin-bottom: 1rem;
}
.marketing01-wrapper .feature .feature-title
{
	color: #3e485a;
	font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	padding: 0;
	margin: 0 0 1rem 0;
}
.marketing01-wrapper .feature .feature-description
{
	color: #5e6d87;
	font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
	font-size: .9rem;
	font-weight: 300;
	line-height: 1.7;
	padding: 0;
	margin: 0;
}
.marketing01-wrapper .features-grid-bottom
{
	overflow: visible;
}
.marketing01-wrapper .features-grid-bottom .feature-top
{
	position: relative;
	top: -9rem;
	left: -4rem;
}
.marketing01-wrapper .features-grid-bottom .feature-bottom
{
	position: relative;
	top: -3rem;
  left: -4rem;
}
@media screen and (max-width: 930px)
{

	.marketing01-wrapper .feature
	{
		margin-right: 1rem;
	}		

}
@media screen and (max-width: 880px)
{

	.marketing01-wrapper .top-level-parent
	{
		padding: 3rem 0 0 0;
	}
	.marketing01-wrapper .feature
	{
		width: 45%;
	}
	.marketing01-wrapper .feature:last-child
	{
		margin-right: 0;
	}
	.marketing01-wrapper .features-grid-top .feature-top
	{
		top: 0;
	}
	.marketing01-wrapper .features-grid-top .feature-bottom
	{
		top: 0;
	}
	.marketing01-wrapper .features-grid-bottom .feature-top
	{
		top: 0;
		left: 0;
	}
	.marketing01-wrapper .features-grid-bottom .feature-bottom
	{
		top: 0;
	  left: 0;
	}

}
@media screen and (max-width: 600px)
{

	.marketing01-wrapper .feature
	{
		width: 100%;
		float: none;
	}

}
/*End Marketing 01*/
/*Start Marketing 02*/
.marketing02-wrapper
{
	background: #fff;
	padding: 3rem 0 2rem 0;
}
.marketing02-wrapper .download
{
	padding: 5rem 2rem;
	text-align: right;
}
.marketing02-wrapper .download .title
{
	color: #233148;
	font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	padding: 0;
	margin: 0 0 1.8rem 0;
}
.marketing02-wrapper .download .description
{
	color: #3a5278;
	font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
	font-size: .9rem;
	font-weight: 300;
	line-height: 1.7;
	opacity: .9;
	padding: 0;
	margin: 0 0 1.7rem 0;
}
.marketing02-wrapper .download .download-link
{
	padding: .8rem 2rem;
	background: #33d2fd;
	color: #fff;
	font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
	font-size: .8rem;
	font-weight: 500;
	text-decoration: none;
	border-radius: 4px;
	border-top: 2px solid transparent;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.marketing02-wrapper .download .download-link:hover
{
	background: transparent;
	color: #3a5278;
	border-color: #bbff99;
}
.marketing02-wrapper .features .feature
{
	background: #fff;
	-webkit-box-shadow: 0 .5rem .5rem #eef1f7;
	        box-shadow: 0 .5rem .5rem #eef1f7;
	padding: 1rem 2rem 0 2rem;
	margin-bottom: 1rem;
	border-radius: 2px;
	overflow: hidden;
	cursor: pointer;
}
.marketing02-wrapper .features .feature.active
{
	background: #33d2fd;
	-webkit-box-shadow: 0 .5rem .5rem #b3eefe;
	        box-shadow: 0 .5rem .5rem #b3eefe;
	padding: 1.5rem 2rem 1rem 2rem;
}
.marketing02-wrapper .features .feature.active .text .feature-description 
{
	color: #fff;
	display: block;
}
.marketing02-wrapper .features .feature p
{
	margin: 0;
	padding: 0;
}
.marketing02-wrapper .features .feature .feature-icon
{
	float: left;
	display: inline-block;
	margin-top: -.3rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	font-size: 1.3rem;
}
.marketing02-wrapper .features .feature .text
{
	float: left;
	display: inline-block;
	max-width: 460px;
}
.marketing02-wrapper .features .feature .text .feature-title
{
	color: #3e485a;
	font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	padding: 0;
	margin: 0 0 .7rem 0;
}
.marketing02-wrapper .features .feature .text .feature-description
{
	color: #fff;
	font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
	font-size: .8rem;
	font-weight: 300;
	margin: 0;
	display: none;
}
/*End Marketing 02*/
/*Start Marketing 03*/
.marketing03-wrapper
{
	padding: 3rem 0 2rem 0;
	background: #fafafc;
}
.marketing03-wrapper .image
{
	text-align: center;
}
.marketing03-wrapper .image img
{
	max-width: 100%;
	max-height: 320px;
}
.marketing03-wrapper .details
{
	padding: 1.7rem 0;
}
.marketing03-wrapper .details .title
{
	color: #233148;
  font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0;
  margin: 0 0 2rem 0;
}
.marketing03-wrapper .details .platform
{
	margin-bottom: .7rem;
	overflow: hidden;
}
.marketing03-wrapper .details .platform:last-of-type
{
	margin-bottom: 0;
}
.marketing03-wrapper .details .platform .icon
{
	display: inline-block;
	margin: 0 .5rem 0 0;
	width: 15px;
	height: 15px;
	float: left;
	background: #33d2fd;
	color: #233148; 
	text-align: center;
	line-height: 15px;
	font-size: .4rem;
	border-radius: 50%;
}
.marketing03-wrapper .details .platform .text
{
	color: #233148;
  font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: .9rem;
  font-weight: 500;
  display: inline-block;
  float: left;
  padding: 0;
  margin: -.15rem 0 0 0;
}
.marketing03-wrapper .details .description
{
	color: #3a5278;
  font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 1.5rem 0 0 0;
}
/*End Marketing 03*/
/*Start Marketing 04*/
.marketing04-wrapper
{
	padding: 6rem 0 2rem 0;
	background: url(../img/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}
.marketing04-wrapper .image
{
	text-align: center;
}
.marketing04-wrapper .image img
{
	max-width: 100%;
	max-height: 500px;
}
.marketing04-wrapper .details
{
	padding: 8rem 0;
}
.marketing04-wrapper .details .title
{
	color: #233148;
  font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0;
  margin: 0 0 1.3rem 0;
}
.marketing04-wrapper .details .description
{
	color: #fff;
  font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  opacity: .9;
  padding: 0;
  margin: 0;
}
.marketing04-wrapper .details .stores
{
	margin-top: 2rem;
	overflow: hidden;
}
.marketing04-wrapper .details .stores .link
{
	overflow: hidden;
	display: inline-block;
	width: 168px;
	padding: .5rem 0 .5rem .7rem;
	margin: 0 1rem 1rem 0;
	float: left;
	border-radius: 3px;
	border: 1px solid #212f45;
	background: -webkit-gradient(linear, left top, left bottom, from(#192334), color-stop(#1c1a27), color-stop(#19131b), color-stop(#110a0f), to(#000000));
	background: -o-linear-gradient(top, #192334, #1c1a27, #19131b, #110a0f, #000000);
	background: linear-gradient(to bottom, #192334, #1c1a27, #19131b, #110a0f, #000000);
	-webkit-box-shadow: inset 0 0 1rem #324667;
	        box-shadow: inset 0 0 1rem #324667;
	text-decoration: none;
}
.marketing04-wrapper .details .stores .link:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(#080c11), color-stop(#0e131a), color-stop(#121922), color-stop(#151e2b), to(#192334));
	background: -o-linear-gradient(top, #080c11, #0e131a, #121922, #151e2b, #192334);
	background: linear-gradient(to bottom, #080c11, #0e131a, #121922, #151e2b, #192334);
}
.marketing04-wrapper .details .stores .link:hover .icon
{
	-webkit-transform: rotate(90deg) scale(1.5);
	    -ms-transform: rotate(90deg) scale(1.5);
	        transform: rotate(90deg) scale(1.5);
}
.marketing04-wrapper .details .stores .link .icon
{
	float: left;
	display: inline-block;
	margin-right: .5rem;
	color: #cbd6e6;
	font-size: 1.2rem;
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: -webkit-transform .3s ease-in-out;
	-o-transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.marketing04-wrapper .details .stores .link .text
{
	float: left;
	display: inline-block;
}
.marketing04-wrapper .details .stores .link .text .small-text, .big-text
{
	display: block;
	color: #fff;
}
.marketing04-wrapper .details .stores .link .text .small-text
{
  font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: .7rem;
  font-weight: 300;
}
.marketing04-wrapper .details .stores .link .text .big-text
{
  font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transform: scale(1.2, 1.3);
      -ms-transform: scale(1.2, 1.3);
          transform: scale(1.2, 1.3);
  margin: -.2rem 0 0 .5rem;
}
.marketing04-wrapper .get-app
{
	margin-top: 2rem;
	text-align: center;
	position: relative;
	top: 3.5rem;
}
.marketing04-wrapper .get-app-link
{
	background: -webkit-gradient(linear, left top, left bottom, from(#fe7570), color-stop(#fd6871), color-stop(#fc5a74), color-stop(#fa4b78), to(#f63a7d));
	background: -o-linear-gradient(top, #fe7570, #fd6871, #fc5a74, #fa4b78, #f63a7d);
	background: linear-gradient(to bottom, #fe7570, #fd6871, #fc5a74, #fa4b78, #f63a7d);
	-webkit-box-shadow: 0 .7rem 1rem #fdcedf;
	        box-shadow: 0 .7rem 1rem #fdcedf;
	border-radius: 2px;
	color: #fff;
	font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: .9rem;
  font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	width: 260px;
	padding: .9rem .5rem;
	-webkit-transform: scale(1, 1.1);
	    -ms-transform: scale(1, 1.1);
	        transform: scale(1, 1.1);
}
.marketing04-wrapper .get-app-link:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(#f63a7d), color-stop(#fa4b78), color-stop(#fc5a74), color-stop(#fd6871), to(#fe7570));
	background: -o-linear-gradient(top, #f63a7d, #fa4b78, #fc5a74, #fd6871, #fe7570);
	background: linear-gradient(to bottom, #f63a7d, #fa4b78, #fc5a74, #fd6871, #fe7570);
	-webkit-box-shadow: 0 .7rem 1rem #ffcecc;
	        box-shadow: 0 .7rem 1rem #ffcecc;
}
@media screen and (max-width: 770px)
{

	.marketing04-wrapper .details
	{
		padding: 2rem 0 1rem 0;
	}	

}
@media screen and (max-width: 400px)
{

 	.marketing04-wrapper .details .stores
 	{
 		padding: 0 2rem;
 	}
 	.marketing04-wrapper .details .stores .link
 	{
 		display: block;
 		float: none;
 		width: 100%;
 	}

}
/*End Marketing 04*/
/*Start Info & Subscribe*/
.infoSubscribe-wrapper
{
	padding: 6rem 0 2rem 0;
	background: #fff;
}
.infoSubscribe-wrapper .container
{
	max-width: 805px;
}
.infoSubscribe-wrapper .links-grid
{
	margin-bottom: 2rem;
}
.infoSubscribe-wrapper .links-grid .title
{
	color: #3e485a;
  font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0;
  margin: 0 0 1rem 0;
}
.infoSubscribe-wrapper .links-grid .links-navmenu ul li a
{
	display: block;
	padding-bottom: .2rem;
	color: #5375ac;
  font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: .9rem;
  font-weight: 300;
}
.infoSubscribe-wrapper .subscribe 
{
	text-align: center;
}
.infoSubscribe-wrapper .subscribe .title
{
	color: #233148;
  font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0;
  margin: 0 0 1rem 0;
}
.infoSubscribe-wrapper .subscribe .description
{
	color: #4b699b;
  font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
.infoSubscribe-wrapper .subscribe .subscribe-form
{
	margin-top: 3rem;
}
.infoSubscribe-wrapper .subscribe .subscribe-form form .input-group
{
	max-width: 591px;
	margin: auto;
}
.infoSubscribe-wrapper .subscribe .subscribe-form form .input-group .email
{
	background: #f6f7fb;
	color: #4b699b;
  font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  display: inline-block;
  width: 460px;
  padding: .5rem .5rem;
  margin: 0 1rem 0 0;
  outline: 0;
  border: none;
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  -o-transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}
.infoSubscribe-wrapper .subscribe .subscribe-form form .input-group .email:focus
{
	-webkit-box-shadow: inset 0 0 .5rem #dce0ef;
	        box-shadow: inset 0 0 .5rem #dce0ef;
}
.infoSubscribe-wrapper .subscribe .subscribe-form form .input-group .email::-webkit-input-placeholder
{
	color: #98accd;
}
.infoSubscribe-wrapper .subscribe .subscribe-form form .input-group .email::-moz-placeholder
{
	color: #98accd;
}
.infoSubscribe-wrapper .subscribe .subscribe-form form .input-group .email:-ms-input-placeholder
{
	color: #98accd;
}
.infoSubscribe-wrapper .subscribe .subscribe-form form .input-group .email::-ms-input-placeholder
{
	color: #98accd;
}
.infoSubscribe-wrapper .subscribe .subscribe-form form .input-group .email::placeholder
{
	color: #98accd;
}
.infoSubscribe-wrapper .subscribe .subscribe-form form .input-group .submit
{
	background: #33d2fd;
	color: #233148;
  font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: .7rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: .5rem 1rem;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.infoSubscribe-wrapper .subscribe .subscribe-form form .input-group .submit:hover
{
	background: #233148;
	color: #33d2fd;
}
@media screen and (max-width: 650px)
{

 	.infoSubscribe-wrapper .subscribe .subscribe-form form .input-group
 	{
 		max-width: 100%;
 	}
 	.infoSubscribe-wrapper .subscribe .subscribe-form form .input-group .email
 	{
 		display: block;
 		width: 100%;
 		margin: 0 0 .3rem 0;
 	}
 	.infoSubscribe-wrapper .subscribe .subscribe-form form .input-group .submit
 	{
 		display: block;
 		width: 100%;
 	}

}
/*End Info & Subscribe*/
/*Start Footer*/
.footer-wrapper
{
	background: #233148;
	padding: 2rem 0;
}
.footer-wrapper .copyright
{
	color: #5375ac;
  font-family: 'WorkSans', 'Helvetica', 'Arial', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  padding: .5rem 0 0 0;
  margin: 0 0 1rem 0;
}
.footer-wrapper .social
{
	text-align: right;
}
.footer-wrapper .social a
{
	display: inline-block;
	padding-right: 1rem;
	color: #eef1f7;
	font-size: 1.3rem;
}
@media screen and (max-width: 800px)
{

 	.footer-wrapper .copyright, .footer-wrapper .social
	{
		text-align: center;
	}

}
/*End Footer*/

/** End Main Content **/